<html>
<head>
<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://onticr.github.io/img/logo1.png" />
    

<title></title>
</head>
<header>
  <div class="container">
    <div class="row">
      <div class="logo">
      <a href="/">
        <img
          src="https://onticr.github.io/img/logo3.png"
          class="logo"
        /></a>
      </div>
      <div class="menu_button">
        <div class="bar"></div>
      </div>
    </div>
  </div>
  <div class="menu_overlay">
    <div class="container center-content">
      <div class="row">
        <ul class="nav">
          <!--li class="nav_list"><a href="/guide" class="nav_link">Guía</a></li-->
          <li class="nav_list"><a href="/guide/stays" class="nav_link">Hospedaje</a></li>
          <li class="nav_list"><a href="/guide/food" class="nav_link">Comida</a></li>
          <li class="nav_list"><a href="/guide/activities" class="nav_link">Actividades</a></li>
          <li class="nav_list"><a href="/guide/culture" class="nav_link">Cultura</a></li>
          <li class="nav_list"><a href="/guide/services" class="nav_link">Servicios</a></li>
          <li class="nav_list">
            <a href="/information" class="nav_link">Información</a>
          </li>
          <li class="nav_list"><a href="/gallery" class="nav_link">Galería</a></li>
          <li class="nav_list">
            <a href="/contact" class="nav_link">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<slot></slot>


<script src="../components/menu.js"></script>
</html>